<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<link rel="icon" href="{{ static_url("favicon.ico") }}" type="image/x-icon">
		<link rel="shortcut icon" href="{{ static_url("favicon.ico") }}" type="image/x-icon">
		<meta name="author" content="Tap Pad">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
		<meta property="og:title" content="Tap Pad">
		<meta property="og:type" content="website">
		<meta property="og:url" content="http://tap-pad.herokuapp.com">
		<meta property="og:site_name" content="Tap Pad">
		<meta property="og:description" content="Are we just automatons that make beautiful music? Listen to this.">
		
		<title>{% block title %}Tap Pad by {{ settings["creator"] }}{% end %}</title>
		{% module CSSModule([
			static_url("css/bootstrap.min.css"),
			static_url("css/style.min.css") ])
		%}

	</head>
	<body ontouchstart="">
		<div class="page-container">
	    {% block header %}
		    <div id="header-wrapper" class="wrapper">
		      <div id="header" class="container">
		        <h1 id="logo"><a href="/"><span>{% block themename %}Tap{% end %} Pad</span></a></h1>
		        {% block more-header %}{% end %}
		      </div>
		    </div>
		  {% end %}

		  <div class="page-container">
				{% block body %}{% end %}
				<footer class="wrapper">
					<div class="container">
						<div class="footer-content">
							{% block footer-content %}
							{% end %}
						</div>
					</div>
				</footer>
			</div>
			<script>
			  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

			  ga('create', 'UA-19564246-4', 'herokuapp.com');
			  ga('send', 'pageview');
			</script>
			{% block js %}
				{% module JSModule([
						static_url("js/jquery.min.js")
					]) %}
			{% end %}

			{% block custom-js %}{% end %}
	</body>
</html>