<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="author" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
		<title>{% block title %}Tap Pad by {{ settings["creator"] }}{% end %}</title>
		{% module CSSModule([
			static_url("css/bootstrap.min.css"),
			static_url("css/style.min.css") ])
		%}

	</head>
	<body ontouchstart="">
		<div class="page-container">
	    {% block header %}
		    <div id="header-wrapper" class="wrapper">
		      <div id="header" class="container">
		        <h1 id="logo"><a href="/"><span>Tap Pad</span></a></h1>
		        {% block more-header %}{% end %}
		      </div>
		    </div>
		  {% end %}

		  <div class="page-container">
				{% block body %}{% end %}
				<footer class="wrapper">
					<div class="container">
						<div class="footer-content">
							<h3 class="about">About Tap Pad</h3>
							<p>Musicular automatons.</p>
							<p>Made for Music Hack Day Toronto, 2013 by
								<a href="{{ settings['creator_homepage'] }}">
									{{ settings['creator'] }}
								</a>.
							</p>
						</div>
					</div>
				</footer>
			</div>
			<!-- >PUT  ga <-->
			{% block js %}
				{% module JSModule([
						static_url("js/jquery.min.js")
					]) %}
			{% end %}

			{% block custom-js %}{% end %}
	</body>
</html>