{% extends "base.html" %}

{% block body %}
	<div class="wrapper">
		<div class="container player-container" max-width="722px">
			<table class="player">
				{% for i in xrange(0,8) %}
					<tr class="player-row">
					{% for j in xrange(0,8) %}
						<td class="player-button" data-row="{{i}}" data-column="{{j}}">
							<div class="inner-button"></div>
						</td>
					{% end %}
					</tr>
				{% end %}
			</table>
			<br/>
		</div>
	</div>
{% end %}


{% block more-header %}
<div class="controls" style="float:right;">
	<div class="play-control">Play</div>
</div>
{% end %}

{% block custom-js %}
	{% module JSModule([
		static_url("js/application.js")
	]) %}
{% end %}