{% extends "base.html" %}

{% block body %}
	{% for note in xrange(0,8) %}
	<audio id="audio{{note}}" src="http://s3.amazonaws.com/automatajs/{{note}}.wav" preload="auto"></audio>
	{% end %}
	<div class="wrapper">
		<div class="container player-container" max-width="722px">
			<table class="player">
				{% for j in xrange(0,8) %}
					<tr class="player-row">
					{% for i in xrange(0,8) %}
						<td data-row="{{j}}" data-col="{{i}}" class="player-button">
							<div id="row{{j}}col{{i}}" class="inner-button">
							</div>
						</td>
					{% end %}
					</tr>
				{% end %}
			</table>
		</div>
	</div>
	<div class="wrapper share-wrapper">
		<div class="container share-container">
			<textarea class="share-link"></textarea>
			<button id="generate-share-link" class="btn">
			Generate share link
			</button>
		</div>
	</div>
{% end %}
{% block more-header %}<div class="controls"><div id="play-control" class="play-control pause" style="display:none;"></div></div>{% end %}

{% block footer-content %}
<h3 class="about">About Tap Pad</h3>
<p>Musicular automatons,<br>Them damn dancin' beepin' lights,<br>So much for being random.</p>
<p>Shout out to Laplace's Demon <a style="text-decoration:none;" href="{{ settings['github_url']}}">&rarr;</a></p>
<p>Made for Music Hack Day Toronto, 2013 by
	<a href="{{ settings['creator_homepage'] }}">
		{{ settings['creator'] }}
	</a>.
</p>
{% end %}

{% block custom-js %}
<script>
	Object.size = function(obj) {
		var size = 0, key;
		for (key in obj) {
			if (obj.hasOwnProperty(key)) size++;
		}
		return size;
	};
</script>

{% module JSModule([
	static_url("js/application.min.js") if not settings["debug"]
		else static_url("js/application.js") 
	]) %}

	{% if start_position %}
		<script>
		$(function(){
			{% for pos in start_position %}tapPad.addAtomWithDirections({{ ",".join(pos) }})
			{% end %}
			$playControl = $("#play-control")
			$playControl.toggleClass("pause")
			$playControl.toggleClass("play")
			$playControl.show()
		})
		</script>
	{% end %}

{% end %}